.hide-time-picker::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.hide-time-picker::-webkit-inner-spin-button,
.hide-time-picker::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-time-picker {
  -moz-appearance: textfield; /* Firefox */
}